.header {
    height: 43px;
    width: 100%;
    background: rgba(37, 44, 62, 0.6);
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 110;
    transition: all .2s ease-out;
}

.header__Logo {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 130%;
    color: #fff;
}

.navBar {
    display: flex;
    align-items: center;
    color: #fff;
}

.header__titles__list {
    min-width: 768px;
    height: 20px;
    margin: 3px 34px 0 50px;
}

.header__title__item {
    color: #fff;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 130%;
    margin-right: 15px;
}

.container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__titles__list a {
    text-decoration: none;
}

.buyAndChangeLanguage {
    padding-right: 20px;
    display: flex;
    flex-direction: row;
}

.btn_select_language {
    width: 65px;
    height: 35px;
    position: relative;
    background: #252C3E;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 11px;
    font-family: 'Open Sans', sans-serif;
}

.btn_select_language:hover {
    background-color: #2f384f;
}

.language {
    height: 19px;
    width: 21px;
    position: absolute;
    top: 7.5px;
    left: 16.5px;
    font-weight: 700;
    font-size: 15px;
    line-height: 19.5px;
    text-transform: uppercase;
}

.icon_spoiler_language {
    height: 6px;
    width: 8px;
    position: absolute;
    top: 14px;
    color: white;
    right: 15.5px;
    background-image: url(https://praguecoolpass.com/img/down-arrow.238dbed4.svg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 90%;
}

.change__language {
    display: none;
}

.change__language_view {
    display: block;
    height: auto;
    min-height: 235px;
    width: 127px;
    text-align: left;
    position: absolute;
    z-index: 2300;
    background: #252c3e;
    border-radius: 5px;
    top: 39px;
    right: 0;

}

.countries__ul {
    height: 100%;
    list-style-type: none;
    padding: 0 0 9px 12px;
    margin: 5px 0;
}

.countries__ul li {
    cursor: pointer;
    font-weight: 700;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    line-height: 19.5px;

}

.countries__ul li:not(:first-child) {
    padding-top: 8px;
}

.countries__ul li:not(:last-child) {
    padding-bottom: 5px;
}


@media (max-width: 768px ) {

    header {
        width: 768px;
        min-width: 768px;
        height: 600px;
        color: #fff;
    }

    /*.header {*/
    /*    height: 56px;*/
    /*    width: 768px;*/
    /*    display: flex;*/
    /*    justify-content: center;*/
    /*    position: fixed;*/
    /*    top: 0;*/
    /*    left: 0;*/
    /*    z-index: 1000;*/
    /*}*/

    .header__container {
        width: auto;
    }

    .photoBy {
        display: none;
    }

    .navBar {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 768px;
    }

    .isview {
        transition: top 0.3s;
        top: -63px !important;
    }

    .headerColor {
        background: #444959;
        opacity: 1;
        z-index: 300;

    }

    .navBar {
        width: 96%;
        display: flex;
         justify-content: space-between;
        align-items: center;
    }

    .header__Logo {
       margin-right: auto;
    }

    .navBar__burger {
        display: flex;
        align-items: center;
    }

    .burger__menu {
        position: relative;
        cursor: pointer;
        display: block;
        width: 27px !important;
        height: 18px;
        margin-right: 15px;
        transform: rotate(0deg);
        transition: .5s ease-in-out;
    }

    .burger__menu span {
        position: absolute;
        width: 100%;
        background-color: #da4b07;
        height: 2px;
        left: 0;
        border-radius: 2px;
        transition: .25s ease-in-out;
    }

    .burger__menu span:nth-child(2),
    .burger__menu span:nth-child(3) {
        top: 8px;
    }
    .burger__menu span:nth-child(4) {
        top: 16px;
    }

    .header__titles__list {
        display: none;
    }
    .burger__menu .anim span:nth-child(1),
    .burger__menu .anim span:nth-child(4) {
        opacity: 0;
        transition: opacity 0.2s;
    }
    .burger__menu .anim span:nth-child(2) {
        transform: rotateZ(45deg);

    }
    .burger__menu .anim span:nth-child(3) {
        transform: rotateZ(-45deg);

    }

    .header_mobile_version {
        display: flex;
        position: absolute;
        align-items: center;
        flex: 0 0 100%;
        flex-direction: column;
        order: 3;
        height: 375px;
        width: 100%;
        background: #727580;
        padding-top: 42px;
        left: 0;
        right: 0;
        margin: 0;
        top: 100%;
        overflow: hidden;
        z-index: 1000;
        transition: height .3s ease-in-out, padding .3s ease-in-out;
    }

    .header_mobile_version a {
        color: #fff;
        width: 304px;
        margin: 0 0 30px;
        padding-left: 30px;
    }

    .header_mobile_version a .header__title__item {
        font-weight: 700;
        font-size: 16px;
        line-height: 21px;
    }


    .header_mobile_version a .buyCoolPass {
        width: 258px;
        margin-right: 0;
    }

    .viewMobile .buyCoolPass {
        display: none;
    }

    .btn_select_language_hide {
        display: none;
    }
    .buyAndChangeLanguage {
        justify-content: flex-end;
        padding-right: 0;
    }
    .butn{
        display: none;
    }
    .butn__active{
        display: block;
        margin-left: auto;

    }
    .header__content {
        bottom: 100px;
        left: 10px;
        z-index: 200;
    }


    .header__titleBlock {
        width: 100%;
        height: auto;
        padding: 0;
    }

    .under_title {
        height: auto;
    }

    .under_title span {
        padding: 0 8px;
        margin: 8px 0;
    }

    .buyCoolPass {
        margin-right: 0;
    }
}


@media (max-width: 426px) {
    header {
        width: 100%;
        min-width: 100%;
        height: auto;
    }

    .header {
        height: 56px;
        width: 100%;
    }

    .header__carousel {
        min-height: 240px;
    }

    .coolPass__background {
        min-height: 240px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;

    }

    .header__title {
        font-size: 26px;
        line-height: 34px;
        margin: 10px 8px 6px 0;
    }

    .header__subtitle {
        font-size: 16px;
        line-height: 21px;
        margin: 0;
    }

    .header__content {
        bottom: 30px;
        margin: 0;
    }

    .photoBy {
        display: block;
        font-size: 9px;
        bottom: 0;
        right: 8px;
    }


    .header__carousel .swiper-pagination-clickable .swiper-pagination-bullet {
        width: 8px;
        height: 8px;
    }

    .swiper-horizontal > .swiper-pagination-bullets,
    .swiper-pagination-bullets.swiper-pagination-horizontal {
        bottom: 14px;
    }

    .mobile__search {
        display: block;
    }

    .form__container {
        flex-direction: column;
        margin: 20px 0 0 0;
        width: auto;
        padding: 0 8px;
    }


    .swiper__for__mobile {
        display: block;
    }

    .swiper__for__pc {
        display: none;
    }

}
