.header {
    height: 43px;
    width: 100%;
    background: rgba(37, 44, 62, 0.6);
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 110;
    transition: all .2s ease-out;
}

.header__Logo {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 130%;
    color: #fff;
}

.navBar {
    display: flex;
    align-items: center;
    color: #fff;
}

.header__titles__list {
    min-width: 768px;
    height: 20px;
    margin: 3px 34px 0 50px;
}
.header__title__item {
    color: #fff;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 130%;
    margin-right: 15px;
}

.container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__titles__list a {
    text-decoration: none;
}
.buyAndChangeLanguage {
    display: flex;
    position: relative;
}

.btn_select_language {
    width: 65px;
    height: 35px;
    position: relative;
    background: #252C3E;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 11px;
}

.btn_select_language:hover {
    background-color: #2f384f;
}

.language {
    height: 19px;
    width: 21px;
    position: absolute;
    top: 7.5px;
    left: 16.5px;
    font-weight: 700;
    font-size: 15px;
    line-height: 19.5px;
    text-transform: uppercase;
}

.icon_spoiler_language {
    height: 6px;
    width: 8px;
    position: absolute;
    top: 14px;
    color: white;
    right: 15.5px;
    background-image: url(https://praguecoolpass.com/img/down-arrow.238dbed4.svg) ;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 90%;
}
