.section {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
}

.h3_container {
    width: 100%;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

h3 {
    font-family: Open Sans Bold, sans-serif;
    font-weight: 700;
    font-size: 22px;
    line-height: 130%;
    text-transform: uppercase;
    color: #252c3e;
}

.stars_wrap {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.rating {
    margin-right: 12px;
    font-family: Open Sans Bold, sans-serif;
    font-weight: 700;
    font-size: 22px;
    line-height: 29px;
    color: #252c3e;
}

.stars {
    width: 120px;
    height: 24px;
    display: flex;
    flex-direction: row;
}

.active_star {
    height: 24px;
    width: 24px;
    background-repeat: no-repeat;
    background-position: 50%;
    background-image: url(https://praguecoolpass.com/img/star-active.2039dc72.svg);
}

.reviews_container {
    width: 100%;
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.reviews_wrap {
    width: 95%;
    margin: 0 auto;
    position: relative;
}

.links_container {
    margin-top: 20px;
    justify-content: flex-end;
    display: flex;
    flex-direction: row;
    padding-right: 30px;
}

.all_comments {
    min-width: 190px;
    padding: 0 20px;
    height: 48px;
    background: #fff;
    border: 1px solid #252c3e;
    box-sizing: border-box;
    border-radius: 5px;
    font-family: 'Open Sans Bold', sans-serif;
    font-weight: 700;
    font-size: 15px;
    line-height: 19px;
    text-align: center;
    text-transform: uppercase;
    color: #252c3e;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-right: 8px;
}

.all_comments:hover{
    border: 1px solid #dbdbdb;
}
.all_comments a {
    text-decoration: none;
    line-height: 48px;
    width: 100%;
    height: 100%;
    color: #252c3e;
}

.write {
    min-width: 190px;
    padding: 0 20px;
    height: 48px;
    background: #fff;
    border: 1px solid #252c3e;
    box-sizing: border-box;
    border-radius: 5px;
    font-family: 'Open Sans Bold', sans-serif;
    font-size: 15px;
    line-height: 19px;
    text-align: center;
    text-transform: uppercase;
    color: #252c3e;
    display: flex;
    font-weight: 700;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.write:hover{
    border: 1px solid #dbdbdb;
}
.write span {
    text-decoration: none;
    line-height: 48px;
    width: 100%;
    height: 100%;
    color: #252c3e;
}


@media (max-width: 768px) {


    .h3_container {
        flex-direction: column;
        align-items: flex-start;
        padding: 0 20px;
    }

    .stars_wrap {
        margin-top: 10px;
    }

    .reviews_wrap {
        width: 100%;
        margin: 0 auto;
        position: relative;
    }

    .links_container {
        flex-direction: column;
        align-items: flex-end;
        width: 95%;
        padding: 0 20px;
    }

    .all_comments,
    .write {
        width: 100%;
        min-width: 0;
        margin-bottom: 10px;
    }

    .all_comments a,
    .write span {
        line-height: 48px;
    }
    .all_comments{
        margin-right: 0;
    }
}

@media (max-width: 425px) {
    .links_container {
        flex-direction: column;
        align-items: flex-end;
        width: 95%;
        padding: 0 5px;
    }
}