.wrapper {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.h1 {
    color: black;
    text-transform: uppercase;
    text-align: center;
}