.undertitle {
    width: 100%;
    min-height: 50px;
    background: #da4b07;
    color: #fff;
    display: flex;
    align-items: center;
}
.underbar_text {
    align-self: center;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 130%;
    margin: 8px;
}
.under_container{
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
}