* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Open Sans', sans-serif;
}

header {
    min-width: 1280px;
    max-width: 100%;
    height: 600px;
    color: #fff;
}

.swiper_pagination_bullet {
    width: 12px;
    height: 12px;
    text-align: center;
    line-height: 20px;
    opacity: 1;
    background: rgb(219, 208, 204);
}

