.accordion-input {
    width: 270px;
    margin: 120px auto;
    height: 37px;
justify-content: flex-start;
}

.input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 5px;
}

.accordion {
    border: 1px solid #ccc;
    border-radius: 4px;
}

.accordion-button {
    background: #f1f1f1;
    padding: 10px;
    width: 100%;
    text-align: left;
    border: none;
    cursor: pointer;
}

.accordion-content {
    border-top: 1px solid #ccc;
    max-height: 220px;
    overflow-y: auto;
    transition: max-height 0.3s ease;
}

.accordion-item {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: #252527;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 23px;
}
.accordion-item:hover {
    background-color: #f0f0f0;
}

.api_results{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.icon_search {
    height: 20px;
    width: 20px;
    position: absolute;
    top: 8px;
    right: 9px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
}
.wrap_search {
    height: 100%;
    min-width: 270px;
    position: relative;
}

.wrap_search input {
    min-width: 270px;
    height: 37px;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    font-weight: 400;
    color: #252c3e;
    line-height: 23px;
    font-size: 14px;
    padding-left: 12px;
    padding-right: 32px;
    box-sizing: border-box;
    text-transform: capitalize;
}

.wrap_search input:active,
.wrap_search input:hover,
.wrap_search input:focus {
    outline: 0;
    outline-offset: 0;
}